html,body {
    margin: 0;
    padding: 0;
}

/**
 * fallback for places `dvh` isn't supported
 */
.root-fallback {
    height: 100dvh;
    height: 100vh;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}